# PostgreSQL
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE?sslmode=require

# Optional
NODE_ENV=production
BIRDSERVER_NODE_FQDN=localhost
BIRDSERVER_NODE_RAM_MB=2048
BIRDSERVER_NODE_CPU=200
BIRDSERVER_NODE_STORAGE_MB=102400
BIRDSERVER_CONTAINERS_ROOT=/tmp/birdserver-containers
